<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sandwich"
    android:versionCode="1"
    android:versionName="1.0 (Beta 1)" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <service android:name="com.sandwich.player.AudioPlayerService" >
        </service>

        <receiver android:name="com.sandwich.player.AudioEventReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.sandwich.VideoPlayer"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_video_player"
            android:launchMode="singleTask"
            android:parentActivityName="com.sandwich.SandwichMain"
            android:screenOrientation="sensorLandscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sandwich.TabView" />
        </activity>
        <activity
            android:name="com.sandwich.AudioPlayer"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_audio_player"
            android:launchMode="singleInstance"
            android:parentActivityName="com.sandwich.SandwichMain" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sandwich.TabView" />
        </activity>
        <activity
            android:name="com.sandwich.TabView"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_search"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sandwich.Search"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_search"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name="com.sandwich.PeerList"
            android:label="@string/title_activity_peer_list" >
        </activity>
        <activity
            android:name="com.sandwich.PeerFiles"
            android:label="@string/title_activity_peer_files" >
        </activity>
        <activity
            android:name="com.sandwich.Settings"
            android:label="@string/title_activity_settings" >
        </activity>
    </application>

</manifest>