<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sandwich"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name="com.sandwich.VideoPlayer"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_video_player"
            android:parentActivityName="com.sandwich.SandwichMain"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sandwich.Search" />
        </activity>
        <activity
            android:name="com.sandwich.AudioPlayer"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_audio_player"
            android:parentActivityName="com.sandwich.SandwichMain" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sandwich.Search" />
        </activity>
        <activity
            android:name="com.sandwich.Search"
            android:label="@string/title_activity_search"
            android:launchMode="singleTop"
            android:configChanges="orientation|screenSize" >
            <intent-filter>
            	<action android:name="android.intent.action.SEARCH" />
        	</intent-filter>
        	<intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        	<meta-data android:name="android.app.searchable"
                   android:resource="@xml/searchable" />
        </activity>
    </application>

</manifest>